<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
        <env name="MT4_MANAGER_API_TOKEN" value=""/>
        <env name="MT4_MANAGER_API_ENDPOINT" value=""/>
        <env name="MT4_TERMINAL_API_TOKEN" value=""/>
        <env name="MT4_TERMINAL_API_ENDPOINT" value=""/>
    </php>
    <testsuites>
        <testsuite name="Laravel MT4 SDk Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
